* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: url('./images/bg1.jpg');
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: max-content;
  background: #b4f0ee;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}



.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

#priority{

  border: none;
  outline: none;
  background: transparent;
  padding: 1px;
  font-size: 14px;


}
input[type="text"], input[type="date"] {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 14px;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.date-added,
.due-date {
  margin-left: 10px;
  font-size: 14px;
  color: #888;
}

#list-container {
  list-style: none;
  padding: 0;
}

#list-container li {
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
}

#list-container li .task {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

#list-container li .description {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

#list-container li .date-added,
#list-container li .due-date,
#list-container li .priority {
  font-size: 14px;
  color: #888;
  margin-right: 10px;
}

#list-container li .priority {
  font-weight: bold;
}

#list-container li .delete {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
  color: #888;
  transition: color 0.3s ease;
}

#list-container li .delete:hover {
  color: #f44336;
}


.welcome-heading {
  font-size: 36px;
  color: #002765;
  text-align: center;
  animation: bounce 1s infinite alternate; 
}

@keyframes bounce {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-10px); 
  }
}
